__pycache__/
datasets/
dataset/
.vscode/
log_MemAE_Conv3DSpar_UCSD_P2_256_MemDim2000_EntW0.0002_ShrThres0.0025_Seed1_Non/
model_MemAE_Conv3DSpar_UCSD_P2_256_MemDim2000_EntW0.0002_ShrThres0.0025_Seed1_Non/
results/